<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ChAT 2.0</title>
    <link rel="stylesheet" href="/styles/main.css">
    <script src="/socket.io/socket.io.js"></script>
</head>
<body>
    <h1 id="header">Chat</h1>
    <div id="chatView">
        <div id="messages"></div>
        <div id="message-input">
            <input id="message" type="text" placeholder="Escribe tu mensaje aquí...">
            <button id="trigger">Send</button>
        </div>
    </div>
    <script src="/scripts/chat.js"></script>
</body>
</html>
