<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat 2.0</title>
    <link rel="stylesheet" href="/styles/main.css">
</head>
<body>
    <div>
        <h1>Salas</h1>
        <div id="view">
            <p>Username:</p>
            <input id="username" type="text">
            <button id="saveUser">Save</button>
        </div>
    </div>
    <script src="/scripts/home.js"></script>
</body>
</html>
